<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Ionic App</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- ionic over CDN -->
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"
    ></script>
    <script
      nomodule
      src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <ion-app>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title role="heading" aria-level="1">Ionic App</ion-title>
          <ion-buttons slot="end">
            <ion-button id="refresh-button">
              <ion-icon slot="icon-only" name="refresh"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding-horizontal">
        <p id="desc-text">Total n items.</p>
        <ion-list id="items-list">
          <ion-item>
            <ion-label>
              <span class="item-title">Item title</span>:
              <span class="item-count">0</span>
            </ion-label>
            <ion-button class="item-increase-button" slot="end" color="primary">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
            <ion-button class="item-delete-button" slot="end" color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-app>
    <script src="bundle.js"></script>
  </body>
</html>
